@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group {
  position: relative;
}

.input {
  border: solid 1.5px #e4e4e4;
  border-radius: 10px;
  background: none;
  padding: 14px 14px;
  font-size: 1rem;
  color: black;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover {
  border-color: #6b7280;
}

.user-label {
  position: absolute;
  left: 15px;
  color: #a0a0a0;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
}

.active {
  transform: translateY(-50%) scale(0.9);
  background-color: white;
  padding: 0 0.4em;
  color: rgb(57, 57, 57);
  left: 8px;
}

.Transition {
  @apply transition duration-200 ease-in-out;
}

.transition1 {
  @apply transition duration-200 ease-in-out;
}

.maxWidth {
  @apply max-w-[1400px] mx-auto;
}

.pagesPaddingX {
  @apply px-[18px]; /* paddingX + paddingIcon */
}

.iconSize {
  @apply text-[24px];
}

.paddingIcon {
  @apply p-[6px];
}

.maxWidth2 {
  @apply max-w-[1200px] mx-auto;
}

.subheader {
  @apply font-semibold text-[18px];
}

.cardShadow {
  @apply shadow-[0_5px_15px_#e2e8f0];
}

.cardShadow2 {
  @apply shadow-[0_5px_3px_#e2e8f0];
}

.cardShadow3 {
  @apply shadow-[0_10px_50px_-12px_rgba(0,0,0,0.1)];
}

@keyframes slowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.slow-bounce {
  animation: slowBounce 4s infinite;
}

.input1 {
  @apply placeholder:text-xs border border-gray-200 focus:outline focus:outline-black outline-none py-2 px-4 rounded-lg;
}

.card-image {
  transition: transform 0.3s ease;
}

.card-image:hover {
  transform: scale(1.1);
}

.link-hover {
  position: relative;
  display: inline-block; 
}

.link-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: blue;
  transition: width 0.3s ease;
}

.link-hover:hover::after {
  width: 100%;
}
